/* You can add global styles to this file, and also import other style files */

:root {
    --color-primary: #5ABFE1;
    --color-secondary: #757575;
    --color-tertiary: #3E3E3E;
    --bg-primary: #FFF;
    --bg-secondary: #F4F4F4;
    --online-color: #3ABF38;
    --border-color: #ECECEC;

}

* {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}